@import "@/src/vars.module.css";

.flexRow {
  display: flex;
  flex-direction: row;
}

.centerForm {
  composes: flexColCenter from "@/src/App.module.css";
}

/* dropdown item */

.cursorHover {
  &:hover {
    cursor: pointer;
  }
}

.selected {
  background-color: var(--primary-extralight);
}

/* dropdown button */

.buttonStyle {
  composes: buttonReset from "@/src/App.module.css";
  background-color: var(--off-white);
}
.buttonSize {
  width: 100%;
}
.buttonAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdownIcon {
  height: 1rem;
  width: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.open {
  rotate: 90deg;
  transition-duration: 0.1s;
}

.close {
  rotate: 0deg;
  transition-duration: 0.1s;
}

