.centerReport {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageMargins {
  margin-top: 10%;
}

.viewerSize {
  width: 90vw;
  height: 90vh;
}

.viewerFont {
  font-family: "Rubik";
}