@import "@/src/vars.module.css";

.sectionMargin {
  margin-bottom: 1rem;
}

.alignFilters {
  display: flex;
}

.filterTextSize {
  font-size: 0.8rem;
}

.buttonStyle {
  composes: buttonReset from "@/src/App.module.css";
  background-color: var(--primary-extralight);
  border-radius: 0.4rem;
  height: 2rem;
}

.checkboxesVertical {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;

  :nth-of-type(even) {
    background-color: antiquewhite;
  }
}

.justifyCheckboxes {
  display: flex;
  justify-content: space-between;
}

.checkboxMargins {
  margin-left: 2rem;
}

/* Answer components */

.radioButtonsVertical {
  display: flex;
  flex-direction: column;
}

.radioButtonsMouse {

  &:hover {
    cursor: pointer;
  }
}

.radioButtonsWidth {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}

.radioButtonsAlign {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.radioButtonSelected {
  background-color: lightblue;
}

.answersWidth {
  width: 100%;
}

/*Timer styles*/

.timerSize {
  width: 100%;
}

.alignTimerButtons {
  display: flex;
  justify-content: center;
}

.alignTimeDisplay {
  display: flex;
  justify-content: center;
}

.timerIconSize {
  height: 1.5rem;
  width: 1.5rem;
}

.timerButtonMargins {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Feedback Form */

.backdropStyle {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 32, 32, 0.6)
}

.centerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDisplay {
  background-color: white;
  min-height: 60vh;
  max-width: 70vw;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 5px solid black;
  overflow-y: scroll;
}

.uploadIconDecoration {
  &:hover {
    cursor: pointer;
  }
}

.imagePreviewBox {
  padding-top: 1rem;
  position: relative;
  /* color: white; */
}

.uploadIconSize {
  width: fit-content;
  height: auto;
  padding: 5px 15px;
  border-radius: 15%;
}

.uploadIconColor {
  color: black;
  background-color: rgba(173, 216, 230, 0.40);
}

.removeUploadColor{
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

.removeUploadDecoration{
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.removeUploadSize {
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin: 4px;
}

.marginTopDefault {
  margin-top: 1rem;
}

.formAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSectionDetailText {
  font-size: 0.8rem;
  text-align: center;
}

.formSectionAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSectionWidth {
  box-sizing: border-box;
  width: 100%;
  padding: 0rem 1rem;
}

.resultTextSize {
  font-size: 1.2rem;
}

.formSectionHeading {
  margin-top: 1rem;
}

.difficultyRadioAlign {
  margin-top: 1rem;
  display: flex;
}

.radioLabelAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.radioLabelText {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.guessInputAlign {
  display: flex;
  justify-content: center;
}

.modalStyle {
  background-color: var(--off-white);
  padding: 1rem 2rem;
  max-width: 350px;
  min-width: 90%;
}

.modalButtonStyle {
  composes: buttonReset from "@/src/App.module.css";
  background-color: var(--primary-extralight);
  border-radius: 5px;
}

.modalButtonSize {
  height: 2rem;
  width: 70%
}