.heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sectionSpacingLg {
  margin-bottom: 2rem;
}

.containerWidth {
  min-width: 350px;
  max-width: 600px;
}

.container {
  composes: flexColCenter from "@/src/App.module.css";
}

.fullWidth{
  width: 100%;
}

.buttonStyle {
  composes: buttonReset from "@/src/App.module.css";
  height: 2rem;
  padding: 0rem 2rem;
  background-color: var(--primary-extralight);
  border-radius: 5px;

  &:hover {
    transition: background-color ease-in-out 100ms;
    background-color: var(--primary-light);
  }
}