.backdropStyle {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(32, 32, 32, 0.6)
}

.centerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContentPosition {
  position: absolute;
}