@import "@/src/vars.module.css";

.position {
  position: fixed;
  top: 90%;
}

.size {
  width: 90%;
}

.padding {
  padding: 0.5rem 1rem;
}

.border {
  border-radius: 0.5rem;
}

.align {
  display: flex;
}

.justifyCenter {
  justify-content: center;
  align-items: center;
}

.grow1 {
  flex-grow: 1;
}

.grow0 {
  flex-grow: 0;
}

.success {
  border: 3px solid;
  border-color: var(--success);
}

.warning {
  background-color: var(--warning);
}

.info {
  background-color: var(--primary);
}

.error {
  border: 3px solid;
  border-color: var(--error);
  background-color: rgba(var(--error-rgb), 0.2);
  /* color: white; */
}