@import "@/src/vars.module.css";

.container {
  composes: flexColCenter from "@/src/App.module.css";
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--primary-extralight);
  padding: 2rem 1rem 2rem;
}

.logoSize {
  width: 40%;
}

.alignHeading {
  composes: flexColCenter from "@/src/App.module.css";
}

.fontLarge {
  font-size: 1.2rem;
}

.sectionFullWidth {
  width: 100%;
}

.sectionSpacing {
  margin-bottom: 1rem;
}

.inputStyle {
  border: none;
}

.rounded {
  border-radius: 0.3rem;
}

.justifyInputs {
  display: flex;
  margin-top: 1rem;
}

.labelStyle {
  font-size: 0.8rem;
  text-align: right;
  padding-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
}

.inputSize {
    height: 2rem;
    width: 75%;
    /* padding: 0rem 0.5rem; */
}

.buttonStyle {
  border: none;
  background-color: white; 

  &:hover {
    cursor: pointer;
  }
}

.spaceButtons {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.alignButtons {
  composes: flexColCenter from "@/src/App.module.css";
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  button {
    width: 100%;
    height: 2rem;
  }
}

.alignButtonContent {
  display: flex;
  justify-content: center;
  height: 2rem;

  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.googleIcon {
  margin-bottom: auto;
  margin-top: auto;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 1.5rem;
}

.googleButton {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.signupToggle {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}