@import "@/src/vars.module.css";

.flexRow {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.widthFull {
  width: 100%;
}

.sectionSpacing {
  margin-bottom: 1rem;
}

.buttonStyle {
  composes: buttonReset from "@/src/App.module.css";
  padding: 0.5rem;

  &:hover {
    transition-property: background-color;
  }
}