@import "@/src/vars.module.css";

.container {
  padding-bottom: 15%;
  composes: flexColCenter from "@/src/App.module.css";
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sectionSpacing {
  margin-bottom: 2rem;
}

.buttonStyle {
  composes: buttonReset from "@/src/App.module.css";
  background-color: var(--primary-extralight);
  border-radius: 0.4rem;
}

.buttonSize {
  width: 50%;
  height: 2rem;
}