@import "@/src/vars.module.css";

@keyframes highlight { 
  from {
    background-color: white;
  }
  to {
    background-color: var(--primary-light);
  }
}

@keyframes highlightPrimary {
  from {
    background-color: var(--primary-extralight);
  }
  to {
    background-color: var(--primary-light);
  }
}

@keyframes grow {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}

@keyframes shiftUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s linear infinite;
}


.highlight {
  &:hover {
    animation: highlight 0.2s ease-in-out forwards;
  }
}


.highlightPrimary {
  &:hover {
    animation: highlightPrimary 0.2s ease-in-out forwards;
  }
}

.grow {
  &:hover {
    animation: grow 0.2s ease-in-out forwards;
  }
}

.shiftUp {
  &:hover {
    animation: shiftUp 0.2s ease-in-out forwards;
  }
}