.flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonReset {
  /* background-color: transparent; */
  border: none;
  &:hover {
    cursor: pointer;
  }
}


.linkReset {
  text-decoration: none;
}