.flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonReset {
  /* background-color: transparent; */
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.outletDisplay {
  display: flex;
  justify-content: center;
}

.outletWidthFull {
  width: 100%;
}

.outletPadding {
  padding-top: 3rem;
  padding: 1rem;
}

.linkReset {
  text-decoration: none;
}