:root {
  --primary-extradark: ##001524;
  --primary-dark: #293c65;
  --primary: #4362a5;
  --primary-light: #b6c3e2;
  --primary-extralight: #dbdded;
  --off-white: #f9f9f0;
  --secondary-dark: #0f5f57;
  --secondary: #2db7a9;
  --secondary-light: #e4e6be;
  --secondary-extralight: #eff0d7;
  --success: #13793f;
  --warning: #dfd028;
  --error: #c5280f;
}